@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "sans-serif";
  @apply text-myTextPrimary;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbbb9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e7e7e;
}

::-webkit-scrollbar-track {
  background-color: white;
}
